@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --color-background: #FFFFFF;
  --color-background-muted: #EEEEEE;
  --color-text: #2C2C2C;
  --color-primary: #0F52BA;
  --color-primary-hover: rgba(15, 82, 186, 0.9);
  --color-dark: #373737;
  --card-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}

a{
  text-decoration: none;
  color: var(--color-text);
}

ul, li {
  list-style-type: none;
}
strong{
  font-weight: 500;
}

body{
  background-color: var(--color-background);
  color: var(--color-text);
}

